<%= form_for @training, html: {multipart: true} do |f| %>
  <div>
    <%= f.text_field :name, placeholder: "Video Name", :class => "mdl-textfield__input" %>
  </div>
  <div>
    <%= f.url_field :url, placeholder: "Video URL", :class => "mdl-textfield__input" %>
  </div>
  <div>
    <%= f.text_area :body, placeholder: "Description/Body", :class => "mdl-textfield__input" %>
  </div>
  <div><%= f.submit %></p>
<% end %>
