<%= form_for @newsletter, html: {multipart: true} do |f| %>
  <div>
    <%= f.label :name %><br />
    <%= f.text_field :name, :class => "mdl-textfield__input" %>
  </div>
  <div>
    <%= f.file_field :newsletter %>
  </div>
  <div><%= f.submit %></div>
<% end %>
