<% title "Preferred Carriers" %>
<div class="page-grid mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
  <div class="carriers mdl-card__title">
      <h2 class="mdl-card__title-text">Preferred Carriers</h2>
  </div>
  <div class="companies mdl-cell mdl-cell--4-col">
    <%= image_tag('mutual_of_omaha.svg') %>
  </div>
  <div class="mdl-cell mdl-cell--6-col">
    <div class="mdl-card__supporting-text">
      Information about Mutual of Omaha and relationship with them. DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT.
    </div>
  </div>
  <div class=" companies mdl-cell mdl-cell--4-col">
    <%= image_tag('united-american.gif') %>
  </div>
  <div class="mdl-cell mdl-cell--6-col">
    <div class="mdl-card__supporting-text">
      Information about United American Insurance Agency and relationship with them. DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT.
    </div>
  </div>
  <div class=" companies mdl-cell mdl-cell--4-col">
    <%= image_tag('american-national.jpg') %>
  </div>
  <div class="mdl-cell mdl-cell--6-col">
    <div class="mdl-card__supporting-text">
      Information about Heartland Alliance of America and relationship with them. DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT.
    </div>
  </div>
  <div class=" companies mdl-cell mdl-cell--4-col">
    <%= image_tag('nationalgenerallogo.jpg') %>
  </div>
  <div class="mdl-cell mdl-cell--6-col">
    <div class="mdl-card__supporting-text">
      Information about National General and relationship with them. DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT.
    </div>
  </div>
  <div class=" companies mdl-cell mdl-cell--4-col">
    <%= image_tag('nhic.png') %>
  </div>
  <div class="mdl-cell mdl-cell--6-col">
    <div class="mdl-card__supporting-text">
      Information about National Healthcare Insurance Company and relationship with them. DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY TEXT.
    </div>
  </div>
</div>
