<% title "Preferred Carriers" %>
<div class="page-grid mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
  <div class="carriers mdl-card__title">
      <h2 class="mdl-card__title-text">Preferred Carriers</h2>
  </div>
  <div class="mdl-grid">
  <div class="companies mdl-cell mdl-cell--5-col">
    <%= image_tag('mutual_of_omaha.svg') %>
  </div>
  <div class="mdl-cell mdl-cell--7-col">
    <div class="mdl-card__supporting-text">
      Mutual of Omaha is proud of its solid financial status, reinforced by
      strong marks from the leading rating agencies. These ratings are
      independent assessments of a company's financial strength and its ability
      to meet ongoing obligations to policyholders:<br />
        <ul>
          <li>A+ (Superior) Financial Strength Rating from A.M. Best Company</li>
          <li>AA- "Very Strong" for Financial Strength by Standard & Poor's</li>
          <li>A– Superior Moody's Investors Service</li>
        </ul>
A financially strong, family-oriented company based in the heart of America,
with solid, unflinching values. For more than a century Mutual of Omaha helps
our customers protect what they care about and achieve their financial goals.
<%= link_to "Learn More...", "http://www.MedSuppBasics.com/SM86FT", target: '_blank' %>

    </div>
  </div><br />
  <div class="companies mdl-cell mdl-cell--5-col">
    <%= image_tag('united-american.gif') %>
  </div>
  <div class="mdl-cell mdl-cell--7-col">
    <div class="mdl-card__supporting-text">
      In 1947, United American Insurance Company established an organization
      based on four core values: stability, service, quality, and commitment.
      Today, UA continues to evolve but remains defined by these principles
      set years ago.<br />
      <ul>
        <li>For 40 consecutive years, UA has earned the A+ (Superior) Financial
          Strength Rating from A.M. Best Company (as of 6/16)</li>
        <li>AA- "Very Strong" for Financial Strength by Standard & Poor's
          (as of 10/15)</li>
      </ul>
      UA's leadership is committed to our market and to remaining a safeguard
      our policyholders can count on for years to come.
    </div>
  </div><br />
  <div class="companies mdl-cell mdl-cell--5-col">
    <%= image_tag('american-national.jpg') %>
  </div>
  <div class="mdl-cell mdl-cell--7-col">
    <div class="mdl-card__supporting-text">
      American National Insurance Company was founded in 1905 and has evolved
      into an industry leader, ranking among the largest of life insurance
      companies in the United States.
      <ul>
        <li>A.M. Best’s Rating: A 	A.M. Best ratings were assigned in September
           2015</li>
       <li>Standard & Poor’s Rating: A 	Standard & Poor's ratings were assigned
         in June 2016</li>
    </div>
  </div><br /><br />
  <div class=" companies mdl-cell mdl-cell--5-col">
    <%= image_tag('nationalgenerallogo.png') %>
    <%= image_tag('nhic.png') %>
  </div>
  <div class="mdl-cell mdl-cell--7-col">
    <div class="mdl-card__supporting-text">
      National General Insurance, formerly the GMAC Insurance Group  was founded
       in 1920. National General Holdings Corp. (NGHC) is a publicly traded
       company with approximately $2.5 billion in annual revenue. The companies
       held by NGHC provide personal and commercial automobile insurance,
       recreational vehicle and motorcycle insurance, homeowner and flood
       insurance, self-funded business products, life, supplemental health
       insurance products, Short Term Medical, and other niche insurance products. 
    </div>
  </div>
</div>
</div>
