<% title "Farm & Ranch Insurance Services" %>
<div class="slider-div mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
    <div class="slider">
        <ul class="rslides">
            <li><%= image_tag("fort-worth-stockyards.jpg") %></li>
            <li><%= image_tag("skyline.jpg") %></li>
            <li><%= image_tag("sundancesquare.jpg") %></li>
            <li><%= image_tag("georgetown.jpg") %></li>
            <li><%= image_tag("Perini.JPG") %></li>
            <li><%= image_tag("bbb.JPG") %></li>
            <li><%= image-tag("lasalle.JPG") %></li>
        </ul>
    </div>
</div>
<div class="welcome-container mdl-card mdl-shadow--4dp mdl-cell mdl-cell--6-col">
  <div id="welcome-paragraph" class="mdl-card__supporting-text">
    Welcome to Farm & Ranch Insurance Services, Inc. We're excited to help you find the insurance product(s) that best fits your needs and budget! We can create for you a personally designed insurance portfolio based on your unique situation and needs so that you can rest easy knowing that you and your family are protected, no matter what!
  </div>
</div>
<div class="building-img mdl-card mdl-shadow--4dp mdl-cell mdl-cell--6-col">
</div>
